## Build files
buildFiles/Link
buildFiles/VisualStudio*

## Built files
game/*_DEBUG*
game/core/fonts
*.exe
*.dll

## Scripts
*.dso

## Preferences
prefs.cs
game/tools/settings.xml
banlist.cs

## Procedural shaders
game/shaders/procedural
!game/shaders/procedural/.gitignore

## Art
game/art
game/levels
!game/art/datablocks
!game/art/main.cs

## Miscellaneous
game/console.log
*config.cs